---
import MainLayout from "../layouts/MainLayout.astro";
import FlipCardGrid from "../components/FlipCardGrid";
import { getCollection } from "astro:content";

const sections = await getCollection("sections");
const vorteile = sections.find((s) => s.id.includes("vorteile"))?.data;
const pageTitle = `${vorteile?.label || "Vorteile"} | ParaNomad`;
---

<MainLayout title={pageTitle}>
  <div class="py-12 md:py-20">
    <FlipCardGrid content={vorteile} client:visible />
  </div>
</MainLayout>
